html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  width: 100%;
  height: 100%;
}

#game {
  width: 100%;
  height: 100%;
  position: relative;
}

#dashboard {
  position: absolute;
  width: 100%;
  height: 25px;
  top: 0;
  left: 0;
}

#their-hand {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #eee;
  width: 100%;
  height: 60px;
  white-space: nowrap;
  overflow-y: hidden;
}

#mat {
  position: absolute;
  top: 85px;  
  bottom: 215px;
  width: 100%;
  overflow: auto;
}

#my-hand {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eee;
  width: 100%;
  height: 215px;
  white-space: nowrap;
  overflow-y: hidden;
}

#library-info, #opponent-library-info {
  margin: 0 10px;
  float: left;
}

#game-info, #player-info, #opponent-info {
  padding-left: 10px;
}

#change-game-form, #change-player-form, #change-deck-form {
  display: none;
}

#mat-contents {
  position: relative;
}

.card {
  width: 143px;
  height: 200px;
}

#mat .card {
  position: absolute;
}

#menu {
  position: absolute;
  background: black;
  padding: 5px;
  z-index: 1000000;
}

#menu a {
  color: white;
}

.tapped {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#editor {
  padding: 10px;
}

#editor .card {
  float: left;
}
